  .nav ul {
    list-style: none; 
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .nav li {
      font-family: 'Oswald', sans-serif;
      width: auto;
      border-bottom: none;
      height: 50px;
      margin:0 30px 0 30px;
      line-height: 50px;
      font-size: 1.4em; 
    }
   
    /* Option 1 - Display Inline */
    .nav li {
      display: inline-block;
      margin-right: -4px;
    }
  .nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
  
  .nav_white{
	  color:#fff !important;
}

  .nav a:hover {
    color: #ea9605;
  }
   
  .nav a.active { 
    color: #ea9605;
    cursor: default;
  }
   
  .nav2 li{
    display:block !important;
    height: auto;
    line-height: 2em;
    margin:0 0px 0 0px;
  }
  
  .nav2 a.active { 
     color: #fff;
  }
  
  .nav3{
	  
}

.nav3 a{
	color:#453536;
}
  
  
.loadly_schedule{
				background-color: orange;
				color:#fff;
				padding: 15px 35px 15px 7px;	
			} 
  
  
  
  
  
  
  .box_shadow{
		    -webkit-box-shadow: 3px 5px 34px 2px rgba(224,221,224,1);
			-moz-box-shadow: 3px 5px 34px 2px rgba(224,221,224,1);
			box-shadow: 3px 5px 34px 2px rgba(224,221,224,1); 
	  }
	  
	 
.button {
	text-decoration:none;
	font-family:Arial;
	box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 2px 33px;
	o-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 2px 33px;
	-moz-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 2px 33px;
	-webkit-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 2px 33px;
	background:#ea9605;
	background:-o-linear-gradient(90deg, #ea9605, #ea9605);
	background:-moz-linear-gradient( center top, #ea9605 5%, #ea9605 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ea9605), color-stop(1, #ea9605) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea9605', endColorstr='#ea9605');
	background:-webkit-linear-gradient(#ea9605, #ea9605);
	background:-ms-linear-gradient(#ea9605, #ea9605);
	background:linear-gradient(#ea9605, #ea9605);
	text-indent:0px;
	line-height:30px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:20px;
	color:#ffffff;
	width:80%;
	height:60px;
	margin-top: 150px;
	transition: top ease 0.5s;
	padding:13px;
	border-color:#659dab;
	border-width:0px;
	border-style:solid;
}

.button:active {
	box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	o-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	-moz-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	-webkit-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	position:relative;
	top:2px
}

.button:hover {
	
	
	box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	o-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	-moz-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	-webkit-box-shadow:inset #ffffff 2px 5px 27px -48px,#e0c69c 2px 0 33px;
	position:relative;
	top:-3px;
		  
	background:-o-linear-gradient(90deg, #ea9605, #ea9605);
	background:-moz-linear-gradient( center top, #ea9605 5%, #ea9605 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ea9605), color-stop(1, #ea9605) );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea9605', endColorstr='#ea9605');
	background:-webkit-linear-gradient(#ea9605, #ea9605);
	background:-ms-linear-gradient(#ea9605, #ea9605);
	background:linear-gradient(#ea9605, #ea9605);
}



	.loadly_menu_div2{
		height:100px; background: white; margin-right: 5px; width:100%; position:fixed; top:-5px; verticle-align:center; padding: 20px 6px 20px 5px;
		z-index: 10000;
	}

.loadly_responsive_menu{
	height:100px; background: white; margin-right: 5px; width:100%; position:fixed; top:-5px; verticle-align:center; padding: 20px 6px 20px 5px;
	display: none;
}

/******************************************/
/********* SIDE MENU START HERE ***********
/******************************************/
		
.sidenav {
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 10000000;
  top: 0;
  left: 0;
  background-color: #272021;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
   
  color: #818181;
  display: block;
  transition: 0.3s;
	
	font-family: 'Oswald', sans-serif;
      width: auto;
      border-bottom: none;
      height: 30px;
      margin:0 30px 0 30px;
      line-height: 10px;
      font-size: 1em; 
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s; 
}		

 .loadly_footer{display:inline-block; margin-right:20px; width:150px; vertical-align:top; font-size: 13px}

.loadly_footerright{
	margin-left: 17% !important; width: 30% !important;
}


	.mainmenu_m{
		background: none;
	}




/* ---------------------------------------------- */
/* -------   Required CSS (customizable)  ------- */
/* ---------------------------------------------- */

 

.floating {
  margin-bottom: 2rem;
  background-color: var(--field__background);
  transition: background-color 0.2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.floating:hover,
.floating:focus-within {
  background-color: var(--field__background--hover);
}

.floating__input {
  font-size: 14px;
  width: 200px;
  height: 35px; 
  font-size: 1rem;
   
  transition: border-color 0.2s ease;
  caret-color: var(--color__accent);
}

	  
.floating:hover .floating__input {
  border-color: var(--input__border--hover);
}

.floating__input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating__label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none; 
}

.floating__label::before {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 0.1em;
  color: #ccc;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;
}

 

.floating__input:focus + .floating__label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.floating__input:placeholder-shown + .floating__label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating__label::before,
.floating__input:focus + .floating__label::before {
  transform: translate3d(0, -4.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating__input:focus + .floating__label::before {
  color: #a0692e;
}

.cinput{
	width: 100%; 
	background-color:transparent; 
	border: 2px solid #ccc; 
	border-radius: 3px; 
	height: 40px;
 }





/*****************************************/

.clearfix.mobile {
	display: none;
}
 @media only screen and (max-width: 600px) { 
   .full {
     width: 100%;
   }
   .loadly_ao_ourservices.full, .loadly_ao_delivery.full, .loadly_ao_forbusiness.full, .loadly_aboutyou.full, .loadly_aboutcompany.full {
     display: block;
     margin-top: 1em;
     width: 100%;
   }
   .loadly_aboutcompany.full {
     margin: 0;
     margin-top: 2em;
     height: auto;
   }
   .loadly_getintouch.full {
     margin: 0;
   }
   .loadly_ao_delivery.full {
     margin:2em 0;
   }
	.loadly_footer {
		width: 48%;
		margin: 2em 1%;
		float: left;
	}
  .loadly_menu_div2{
	  display: none;
	 }
	.nav_responsive{
		display: block;
	}
	 
  .loadly_responsive_menu{
	  display: block;
	  z-index: 1000;
	 }
	 
.loadly_footerright {
	width: 100% !important;
	margin-left: 0 !important;
}
	 
.col-5 {
	width: 48%;
	float: left;
}
#div_main {
	padding: 150px 4% 0 4%;
	width: 92%;
	margin: 0;
}
.clearfix.mobile {
	display: block;
}
.clearfix.mobile:after{
	display: table;
	clear: both;
	content: "";
}
.loadly_requestinfo.full {
  width: 100%;
  display: block;
}
.loadly_requestinfo.full:after {
 display: table;
 content: "";
 clear: both;
}
}

.clearfix:after{
	display: table;
	clear: both;
	content: "";
}

